body {
	background-color: #C7F5FB;
	font-family: sans-serif;
	color: #311FB9;
	margin: 0;
	padding: 0;
}

.inner {
	width: 615px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#header {
	background-color: #8CC88C;
	color: #C7F5FB;
	margin-left: 5px;
	border: 1px solid #8CC88C;
	border-top: none;
	width: 65px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}